@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.floating {
  animation: float 3s ease-in-out infinite;
}
.bg-green-gradient {
  background: linear-gradient(to bottom right, #81FBB8, #28C76F); /* Light to dark green gradient */
}
